<p-card>
<div class="card" style="margin-top: 25px;">
    <p-table #dt [value]="costs" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll" [rowsPerPageOptions]="[5,10]" [globalFilterFields]="['name','email','center-cost']">
        <ng-template pTemplate="caption">
            <div class="flex flex-wrap gap-2 align-items-center justify-content-between">
                <h4>Lista de Custos Variáveis</h4>
                <input pInputText type="text" (input)="onGlobalFilter(dt,$event)" placeholder="Filtro de campos" class="w-full sm:w-auto">
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name" class="white-space-nowrap" style="width: 15%;">Tipo<p-sortIcon field="type_variable"></p-sortIcon></th>
                <th pSortableColumn="date" class="white-space-nowrap" style="width: 15%;">Data<p-sortIcon field="date"></p-sortIcon></th>
                <th pSortableColumn="responsible" class="white-space-nowrap" style="width: 15%;">Responsavel<p-sortIcon field="responsible"></p-sortIcon></th>
                <th pSortableColumn="approval" class="white-space-nowrap" style="width: 15%;">Situação<p-sortIcon field="approval"></p-sortIcon></th>
                <th pSortableColumn="approval" class="white-space-nowrap" style="width: 15%;">Mais Informações</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-Cost>
            <tr>
                <td>{{cost.type}}</td>
                <td>{{cost.date}}</td>
                <td>{{cost.responsible}}</td>
                <td>{{cost.approval}}</td>
                <td><p-button icon="pi pi-info" [rounded]="true" severity="info" [outlined]="true" (onClick)="openModal(cost)" /></td>
            </tr>
        </ng-template>
    </p-table>
</div>
</p-card>
<!-- <p-dialog [(visible)]="display" [modal]="true" showEffect="fade" [style]="{width: '30vw'}" [breakpoints]="{'960px':'73vw'}">
    <h5>Usuário: {{user.name}}</h5>

    <p class="line-height-3 m-0">Situação</p>

    <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-12" style="margin-bottom: 0;">
            <p-dropdown appendTo="body" class="block w-full" [options]="stats" [(ngModel)]="nStats" placeholder="Selecione um status:" optionLabel="label" optionValue="value" (onChange)="postSelected($event)">
            </p-dropdown>
        </div>
    </div>

    <ng-template p-Template="footer">
        <button pButton style="color: brown;" (click)="display=false" label="Voltar" class="p-button-outlined"></button>
        <button pButton style="color: #fff; background-color: cadetblue;" (click)="callUpdateUser()" label="Salvar" class="p-button-outlined"></button>
    </ng-template>
</p-dialog> -->