<div class="bg-black w-full h-screen">
    <div class="flex align-content-center mb-2 pt-4">
    </div>
    <p-menu [model]="items" styleClass="w-full border-none">
        <ng-template pTemplate="item" let-item>
            <a [routerLink]="item.url" class="flex text-white align-items-center p-menuitem-link" [ngClass]="{'active':isActive(item.url)}">
                <i [class]="item.icon">
            <span class="ml-2">{{item.label}}</span>
                </i>
            </a>
        </ng-template>
    </p-menu>
</div>