<p-card>
    <div class="m-0 grid">
        <div class="flex flex-column gap-2 col-12 p-fluid">
            <label for="name">Nome</label>
            <input pInputText type="text" id="name">
        </div>
        <div class="flex flex-column gap-2 col-12 p-fluid">
            <label for="email">E-mail</label>
            <input pInputText type="email" id="email">
        </div>
        <div class="flex flex-column gap-2 col-12 p-fluid">
            <label for="job_title">Cargo</label>
            <input pInputText type="text" id="job_title">
        </div>
        <div class="flex flex-column gap-2 col-12 p-fluid">
            <label for="salary">Salário</label>
            <input pInputText type="text" id="salary">
        </div>
        <div class="flex flex-column gap-2 col-12 p-fluid">
            <label for="position">Posição</label>
            <input pInputText type="text" id="position">
        </div>
    </div>
    <div class="m-0 grid">
        <p-button class="col-4" label="Cadastrar" />
    </div>
</p-card>