<div  class="min-h-screen flex flex-column" *ngIf="!isTelaLogin && !isTelaFirstAcess">
      <!--  -->
    <div class="w-full flex">
          <div class="w-2 fixed">
                  <app-sidebar />
          </div>
          <div class="content-wrapper flex flex-column">
                <app-topbar />
                <div class="flex-grow-1 min-h-screen m-2">
                        <router-outlet></router-outlet>
                </div>
                <app-footer />
          </div>
    </div>
</div>

<div *ngIf="isTelaFirstAcess && !isTelaLogin">
      <!--  -->
      <app-first-acess-executivo />
</div>

<div *ngIf="isTelaLogin && !isTelaFirstAcess">
      <!--  -->
      <app-login />
</div>